body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    flex: 1 1 auto;
}

.header {
    background-color: #0c53b6;
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: white;
    text-shadow: 3px 3px rgb(5, 54, 85);
}

h1, h2, h3 {
    font-family: "Titan One", 'Times New Roman', Times, serif;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-family: cursive, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px rgb(5, 54, 85);
    font-weight: 600;
}

.header-links {
    display: flex;
    margin-right: 50px;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/bamboo-background.jpg);
    background-size: 100%;
}

.main-section-containter {
    display: flex;
    border-radius: 50%;
    border: 5px solid rgb(255, 225, 56);
    box-shadow: 5px 5px rgb(5, 54, 85);
    max-width: 1100px;
    flex: 1 1 auto;
    padding: 3em;
    margin: 2em;
    background-color: #0c53b6;
    justify-content: center;
    gap: 1em;
}

.main-sign-up {
    max-width: 400px;
}

.main-sign-up h1 {
    color: white;
    text-shadow: 3px 3px rgb(5, 54, 85);
}

p, button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button {
    padding: 5px;
    background-color: gold;
    color: rgb(5, 54, 85);
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(5, 54, 85);
}

.main-sign-up p {
    color: white;
    text-shadow: 1px 1px rgb(5, 54, 85);
}

.main-image {
    border-radius: 50%;
    max-width: 400px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 3px 3px rgb(5, 54, 85);
}

.picture-section {
    display: flex;
    justify-content: center;
}