.header {
    background-color: #0c53b6;
    display: flex;
    padding: 0 1em;
    margin: 0;
}

.header-logo {
    font-family: "Titan One", 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 3px 3px lightskyblue;
}